@model AttributeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Атрибут</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @await Html.PartialAsync("_Attribute", Model)
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"  asp-route-id="Id" />
                <a class="btn btn-primary" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
